body{
	background-color: #333c4aff;
}

#logo_holder{
	position: absolute;
	left: -300px;
	top: -125px;
	height: 300px;
	width: 300px;
	z-index: -1;
}

#logo{
	height: 400px;
	width: 400px;
}

#image_bar_background{
	position: absolute;
	top: 90px;
	left: 0px;
	height: 150px;
	width: 100%;
  min-width: 1250px;
	background-color: black;
	z-index: -2;
}

#image_bar{
	position: absolute;
	top: 0px;
	left: 20vw;
	height: 150px;
	width: 60vw;
	min-width: 1050px;
}

.bar_img{
	height: 140px;
	width: 200px;
	border-radius: 25px;
  border: 2px solid black;
}

#bar_img1{
	position: absolute;
	left: 350px;
	/* left: 35vw; */
	top: 5px;
}

#bar_img2{
	position: absolute;
	left: 600px;
	/* left: 30vw; */
	top: 5px;
}

#bar_img3{
	position: absolute;
	left: 850px;
	/* left: 65vw; */
	top: 5px;
}

.bar_text{
	color: white;
}

#name{
	position: absolute;
	left: 30px;
	top: 10px;
	font-size: 60px;
	font-style: italic;
	padding-right: 20px;
}

#slogan{
	position: absolute;
	left: 0px;
	top: 80px;
	font-size: 32px;
	padding-right: 20px;
}


#text_info{
	position: absolute;
	left: 20%;
	top: 300px;
	height: 200px;
	width: 60%;
	color: white;
	font-size: 20px;
	text-align: center;
	padding-right: 50px;
}


.index_button{
	background-color: #666666;
	color: white;
	height: 50px;
	width: 180px;
	border-radius: 10px;
  	border: 1px solid black;
}

.index_button:hover{
	background-color: #d5d5d5;
	color: black;
}
