{% extends 'base.html' %}
{% block content %}
{% load static %}
<header>
	<link href="{% static 'password_reset.css' %}" rel="stylesheet">
</header>
  <div id="login_content">
    <h2>Reset Password</h2>
    <p>Forgot your password?</p>
    <p>Enter the email you registered with and we'll send you a link to create a new one.</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Send Link</button>
    </form>
  </div>
{% endblock %}
