{% extends 'base.html' %}
{% block content %}
{% load static %}
<header>
	<link href="{% static 'password_reset_done.css' %}" rel="stylesheet">
</header>
  <div id="main_content">
    <h2>Reset Password Sent</h2>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    <p>Still haven't received the email? Shoot us a message at skyeyealerts@gmail.com</p><br />
    <a class="link" href="{% url 'home' %}">Return Home</a>
  </div>
{% endblock %}
